/*------------------------------------
BASE
------------------------------------*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  /*------------------------------------
  ELEMENT
  ------------------------------------*/

  body{
    font-family: "Merriweather","Carter One","Roboto";
  }
  .wrapper{
    max-width: 1170px;
    margin: 0 auto;
  }
  a{
    text-decoration: none;
    color: #000;
  }
  
  li{
    list-style: none;
  }

  p{
    font: 400 1.125rem/150% "Roboto";
  }

  /*------------------------------------
COMPONENT
------------------------------------*/

/* header */

header{
    background: #379ae3;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100vw;
    height: 65px;
}

header .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding: 0;
}
header nav li{
    font: 700 1.125rem "Roboto";
}
header nav a:hover{
    color: #E6EDF1;
}
header .bouton{
font: 700 1.125rem "Roboto";
display: flex;
justify-content: center;
align-items: center;
background: white;
border-radius:5px ;
border:2px solid #000 ;
height:36px ;
padding: 0 28px;
}

header .logo{
    font: 700 1.5rem "Merriweather";
    text-transform: uppercase;
}


/* hero */

.hero{
    margin-top: 65px ;
    background: url(../images/hero.jpg) no-repeat center/cover;
}

.hero .wrapper{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 640px;
}
.action{
    background: rgba(0, 0, 0, 0.7);
   height:440px ;
   width: 550px;
   border-radius:20px ;
   display: flex;
   flex-direction: column;
   gap: 50px;
}
.top_section{
  width: 800px;
  margin: 0 auto;
}
.action h1{
    font:700 4rem "Merriweather" ;
    color:#E67522 ;
    text-align: center;
   padding: 0 40px;
   margin: 40px 0 0;
}
.action p{
    font: 700 1.25rem "Roboto";
    color:#fff ;
    text-align: center;
    padding: 0 40px;
    margin: 0;
    
}
.action .bouton{
    background: #E67522;
    align-self: center;
    margin: auto 0 40px;
    width: 350px; 
    height: 36px;
    font: 700 1.125rem "Roboto";
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.action a{
  color: #fff;
}


/*section contenu*/
.contenu{
  background:#E6EDF1 ;
}
.contenu h2{
  font: 700 4rem "Merriweather";
  text-align: center;
  padding-top: 100px;
  margin: 0;
}
.sous_titre{
  
  text-align: center;
  padding: 20px 0 70px ;
}
.carte{
  display: flex;
  gap: 30px;
}
.carte article{
  display:flex ;
  flex-direction: column;
  gap: 30px;
  height: 785px;
  width: 370px;
  background:#fff ;
  margin-bottom: 100px;
}
h3{
  font: 700 2.25rem "Merriweather";
  letter-spacing: -0.02em;
  text-align: center;
  margin: 0;
}
.carte p{
  text-align: center;
 padding: 0 20px;
 margin: 0;
}
.carte .bouton a{
 color: #000;
}
.carte .bouton{
  background: #E67522;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  border: 2px solid #000;
  border-radius: 5px;
  align-self: center;
  width: 150px;
  height: 40px;
margin-bottom: 38px;
}
.corner{
  position: relative;
}
.premier{
  position: absolute;
  top: -11px;
  right: -11px;
}